<nav role="navigation">
	<div id="menuToggle">
		<input type="checkbox" />

		<span></span>
		<span></span>
		<span></span>

		<ul id="menu">
			<a href="https://erikterwan.com/" target="_blank" rel="noopener noreferrer">
				<li>دریافت اپلیکیشن آبفا</li>
			</a>
			<a href="https://erikterwan.com/" target="_blank" rel="noopener noreferrer">
				<li>سایت شرکت آبفا</li>
			</a>
		</ul>
	</div>
</nav>

<!-- <nav>
		<ul>
			<div class="flip">
				<a href="https://dribbble.com/shots/2507318-start-rollover" target="_blank">
					<div class="front">FLIP</div>
					<div class="back">FLIP</div>
				</a>
			</div>
			
			<li>دریافت اپلیکیشن آبفا</li>
		</ul>
	</nav> -->



<header>
	<section>
		<!-- <div class="flip">
			<a href="https://dribbble.com/shots/2507318-start-rollover" target="_blank">
				<div class="front">FLIP</div>
				<div class="back">FLIP</div>
			</a>
		</div> -->
		<div class="header_icon">
			<img src="../../assets/imgs/logo.png" alt="">
		</div>
		<div class="header_title">
			<h3 class="title">
				مشاهده قبض
			</h3>
		</div>

	</section>
</header>