<footer>
  <ul>
    <li href="https://myket.ir/app/com.app.leon.moshtarak/reviews" target="_blank" rel="noopener noreferrer">
      <!-- <div class="glyph_style">
        <i class="fa fa-headset"></i>
      </div> -->
      <div class="text_style">پشتیبانی</div>
    </li>
    <li href="bazaar://details?id=com.app.leon.moshtarak&ref=" target="_blank" rel="noopener noreferrer">
      <!-- <div class="glyph_style">
        <i class="fa fa-question"></i>
      </div> -->
      <div class="text_style">
        دانلود اپلیکیشن از بازار
      </div>
    </li>
    <li href="https://myket.ir/get/app?packageName=com.app.leon.moshtarak" target="_blank" rel="noopener noreferrer">
      <!-- <div class="glyph_style">
        <i class="fab fa-android"></i>
      </div> -->
      <div class="text_style">
        دانلود اپلیکیشن از مایکت
      </div>
    </li>
  </ul>
</footer>