@import "../../assets/main.scss";

footer {
  background: $pale_levender;
  ul {
    text-align: center;
    list-style-type: none;
    padding: 1rem;
    li {
      font-size: 1.4rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin-bottom: 0.41rem;
      
      .glyph_style {
        width: 0;
      }
      .text_style {
        width: 77%;
        color: $medium_slate_blue;
        font-weight: 800;
      }
      i {
        font-size: 2.3rem;
        color: $medium_slate_blue;
      }
    }
  }
}
