@import "../../assets/main.scss";

footer {
  background: $clr_border;
  border-radius: 0 65px 0 50px;
  ul {
    text-align: center;
    list-style-type: none;
    padding: 1rem;
    li {
      font-size: 1.4rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin-bottom: 0.41rem;
      
      .glyph_style {
        width: 0;
      }
      .text_style {
        width: 77%;
        color: $pale_levender;
        font-weight: 600;
      }
      i {
        font-size: 2.3rem;
        color: $pale_levender;
      }
    }
  }
}
