<footer>
  <ul>
    <li>
      <a href="https://myket.ir/app/com.app.leon.moshtarak/reviews" target="_blank" rel="noopener noreferrer"
        class="text_style">پشتیبانی</a>
    </li>
    <li>
      <a href="bazaar://details?id=com.app.leon.moshtarak&ref=" target="_blank" rel="noopener noreferrer"
        class="text_style">
        دانلود اپلیکیشن از بازار
      </a>
    </li>
    <li>
      <a href="https://myket.ir/app/com.app.leon.moshtarak" target="_blank" rel="noopener noreferrer"
        class="text_style">
        دانلود اپلیکیشن از مایکت
      </a>
    </li>
  </ul>
</footer>