<footer>
  <ul>
    <li>
      <div class="glyph_style">
        <i class="fa fa-headset"></i>
      </div>
      <div class="text_style">پشتیبانی</div>
    </li>
    <li>
      <div class="glyph_style">
        <i class="fa fa-question"></i>
      </div>
      <div class="text_style">
        متن ازمایشی
      </div>
    </li>
    <li>
      <div class="glyph_style">
        <i class="fab fa-android"></i>
      </div>
      <div class="text_style">
        متن ازمایشی
      </div>
    </li>
  </ul>
</footer>