@import "../../../assets/@media.scss";
@import "../../../assets/variables.scss";

main {
  display: grid;
  gap: 0.5rem;
  margin: 0 .2rem;
}

._title {
  color: $clr;
  text-align: right;
  padding: 0 1rem;
}

p {
  box-shadow: 1px 1px 1px 0.8px;
  background: $c_light_gray;
  color: $dark_b_color;
  border-radius: $__border_radius;
  font-size: $font_medium_size;
  font-weight: 600;
  padding: 1rem;
  margin: .5rem .2rem;
  text-align: right;
}

@include threeColumns(main);
@include media_wrapper(550px, '._title', text-align, center);
