@import "../../../assets/@media.scss";
@import "../../../assets/variables.scss";
@import "../../../assets/null_response.scss";

main {
  display: grid;
  direction: rtl;
  gap: 0.5rem;
  margin: 0 .2rem;
}

._title {
  color: $clr;
  text-align: center;
  padding: 0 1rem;
}

@include threeColumns(main);
