<section>
    <div class="borders non_border">
        <div class="abfa">
            <img src="../../assets/imgs/logo.png" alt="">
            <article>وزارت نیرو- شرکت آب و فاضلاب استان اصفهان</article>
        </div>
        <article>
            <p class="second_article">خدمات غیر حضوری با تلفن 1522</p>
            <p>تلفن حوادث 122 تلفن شهر</p>
        </article>
    </div>
    <div class="borders">
        <p>شهر</p>
        <p>{{childEl.zoneTitle}} </p>
        <p>مشترک گرامی {{childEl.fullName}}</p>
        <p>آدرس {{childEl.address}}</p>
        <p>کد {{childEl.pastac}} پستی</p>
    </div>
    <div class="borders">
        <p>کاربری {{childEl.karbariTitle}}</p>
        <p>تعداد واحد: {{childEl.fullName}}</p>
        <p>مسکونی {{childEl.ahadMaskooni}}</p>
        <p>تجاری {{childEl.ahadNonMaskooni}}</p>
        <p>سایر</p>
        <p>ظرفیت قراردادی {{childEl.zarfiatQarardadi}}</p>
    </div>
    <div class="borders">
        <p>کد تعرفه {{childEl.fullName}}</p>
        <p>قطر کنتور {{childEl.qotr}}</p>
        <p>وضعیت کنتور</p>
    </div>
    <div class="borders">
        <p>سریال کنتور {{childEl.fullName}}</p>
        <p>قطر سیفون {{childEl.qotrSifoon}}</p>
    </div>
    <div class="borders">
        <p>کد تعرفه {{childEl.fullName}}</p>
        <p>سریال کنتور: {{childEl.fullName}}</p>
    </div>
    <div class="borders">
        <p>شماره ردیف: {{childEl.radif}}</p>
        <p>شماره اشتراک: {{childEl.eshterak}}</p>
        <p>شماره برگه: {{childEl.barge}}</p>
    </div>
    <div class="borders">
        تاریخ قرائت
        <p>پیشین {{childEl.fullName}}</p>
        <p>کنونی {{childEl.fullName}}</p>
    </div>
    <div class="borders">
        <p>تعداد {{childEl.fullName}} روز</p>
    </div>
    <div class="borders">
        <p>مصرف به مترمکعب {{childEl.masraf}}</p>
        <p>مصرف به لیتر {{childEl.masrafLiter}}</p>
        <p>متوسط مصرف ماهانه/ متر مکعب {{childEl.masrafAverage}}</p>
    </div>
    <div class="borders">
        شرح اقلام و مبالغ به ریال
        <p>بهای آب مصرفی {{childEl.abBaha}} </p>
        <p>کارمزد دفع فاضلاب {{childEl.karmozdFazelab}}</p>
        <p>مالیات و عوارض {{childEl.maliat}}</p>
        <p>قانون بودجه {{childEl.budget}}</p>
        <p>آبونمان آب {{childEl.fullName}}</p>
        <p>آبونمان فاضلاب {{childEl.fullName}}</p>
    </div>
    <div class="borders">
        <p>{{childEl.fullName}}</p>
        <p>بدهکاری قبلی {{childEl.preBedOrBes}}</p>
    </div>
    <div class="borders">
        <p>جمع {{childEl.jam}}</p>
    </div>
    <div class="borders pay_section">
        <p>مبلغ قابل پرداخت {{childEl.payable}}</p>
        <p>مهلت پرداخت {{childEl.fullName}}</p>
    </div>
    <div class="borders">
        <p>شناسه قبض {{childEl.billId}}</p>
        <p>شناسه پرداخت {{childEl.payable}}</p>
    </div>
</section>