@import "../../assets/variables";
@import "../../assets/mixins.scss";

@mixin justify-center {
  display: flex;
  justify-content: center;
}

nav {
  height: 0;
  padding: 0.5rem 1rem 0 0;
  direction: rtl;
}

section {
  min-height: $s-img-size; // need to change 9rem

  .header_icon {
    @include justify-center;

    img {
      width:calc(#{$img-size} - 3rem); // could be s-img-size too
      height: calc(#{$img-size} - 6rem); // need to change 9rem

      transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  }
}

#menuToggle {
  display: block;
  position: relative;
  width: 40px;
  top: .4rem;
  right: -0.3rem;
  z-index: 2;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: relative;
  top: 30px;
  left: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $clr;
  border-radius: 3px;
  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $pale_levender;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  right: -0.7rem;
  width: 100vw;
  margin: -100px 0 0 -30px;
  padding: 50px;
  padding-top: 90px;
  max-height: 23rem;
  border-radius: 0 0 30% 30%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-11%, -100%);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  @media (min-width: 550px) {
    margin: -100px 0 0 -53px;
  }
}

#menu li {
  padding: 10px 0;
  border-radius: 30px;
  font-size: $font_medium_size;
  text-align: center;
  min-width: 13rem;
  margin: 0.5rem;
  min-height: 3rem;
  font-weight: 600;
  box-shadow: 4px 4px 5px;
  color: $medium_slate_blue;
  background: $white;
}

#menuToggle input:checked~ul {
  background: linear-gradient(#00368c, rgba(0, 98, 255, 0.88));
  box-shadow: 2px -1px 6px 10px $pale_levender;
  transform: none;
  text-align: left;
}

.toggleImg {
  z-index: 2;
  width: 3rem !important;
  height: 3rem !important;
}

@media screen and (min-width: 550px) {
  #menu {
    width: auto;
  }
}
