.help {
  --clr: #00368c;
  display: flex;
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  cursor: pointer;
  border: 1px solid;
  padding: 1rem;
  place-items: center;
  justify-content: center;
  left: 1.35rem;
  border-radius: 50%;
  top: 5.5rem;
  font-size: 1.6rem;
  color: var(--clr);

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}
