.help {
  --clr: #00368c;
  display: flex;
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  cursor: pointer;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  left: 1.35rem;
  border-radius: 50%;
  top: 5.5rem;
  font-size: 1.6rem;
  color: var(--clr);
  transition: all ease-in-out 200ms;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}
