<section>
    <div class="title_content">
        <h1>انتقادات و پیشنهادات</h1>
    </div>
    <div class="button_content">
        <label class="container">گزارش خطا
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">پیشنهادات و انتقادات
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <!-- <div class="customers">
            <label class="dynamic_checkbox">
                <input type="radio">
                <span class="checkmark"></span>
            </label>
        </div> -->

        <!-- <button (click)="suggestOrCritical(false)">پیشنهادات و انتقادات</button>
        <button (click)="suggestOrCritical(true)">گزارش خطا</button> -->
    </div>

    <main>
        <textarea maxlength="100" cols="30" rows="8" placeholder="توضیحات را وارد کنید...">{{userText}}</textarea>
    </main>

    <div class="background_color">
        <div class="text_align_center">
            <button>ارسال</button>
        </div>
    </div>
</section>