.content {
  min-height: 60vh;
  overflow: hidden;
  display: block;
  position: relative;
}

@media screen and (min-width: 550px) {
  .content {
    // width: 50%;
    margin: 0 auto;
    min-width: auto;
  }
}
