<footer>
  <ul>
    <li>
      <a href="https://ticket.tarnamasep.com/" target="_blank" rel="noopener noreferrer"
        class="text_style">درخواست پشتیبانی</a>
    </li>
    <li>
      <a href="https://cafebazaar.ir/app/com.app.leon.moshtarak" target="_blank" rel="noopener noreferrer"
        class="text_style">
        دانلود اپلیکیشن از بازار
      </a>
    </li>
    <li>
      <a href="https://myket.ir/app/com.app.leon.moshtarak" target="_blank" rel="noopener noreferrer"
        class="text_style">
        دانلود اپلیکیشن از مایکت
      </a>
    </li>
    <li>
       نسخه 0.8.4_آزمایشی
    </li>
  </ul>
</footer>
<footer class="brand">
  <img src="assets/footer/ImgLogoFooter.png" alt="">
  <p>شرکت شبکه تارنما سپاهان</p>
</footer>