@import "../../../assets/main.scss";

$clr: #00368c;
$white: #fff;
$pale_levender: #d4dcff;
$s-f: 2px;
$font_size_title: 2.2rem;

footer {
  $footer_background: rgba(0, 98, 255, 0.88);

  background: linear-gradient($footer_background, $clr);
  margin-top: $font_size_title;
  border-radius: 30% 30% 0 0%;

  ul {
    text-align: right;
    list-style-type: disc;
    padding: .5rem 0.1rem;
    margin: 0px 4rem;
    direction: rtl;
    color: $white;

    li {
      font-size: 1.4rem;
      margin-bottom: 0.41rem;
      text-decoration: none;
      width: auto;
      color: $pale_levender;
      font-weight: 600;
    }
  }
}

footer.brand {
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  color: $white;
  height: 1.5rem;
  padding: 0;
  margin-top: 0;
  border-radius: 0;
  background: linear-gradient(#00368c, #232323);

  p {
    font-size: .8rem;
  }
}

@media screen and (min-width: 600px) {
  footer {
    margin-top: $font_size_title + 0.8rem;

    ul {
      display: flex;
      justify-content: space-around;
    }
  }
}

@media screen and (min-width: 1200px) {
  footer {
    margin-top: $font_size_title + 1.5rem;
  }
}
