@import "../../assets/variables.scss";
@import "../../assets/main.scss";
@import "../../assets/mixins.scss";
@import "../../assets/checkbox.scss";
@import "../../assets/radio_checkbox.scss";
@import "../../assets/title_second.scss";

section {
  background-color: $dark_b_color;
  min-height: 20rem;
  padding: 1rem .5rem;
  border-radius: 30px;
  margin: 1rem .1rem;

  .title_content {
    text-align: center;

    h1 {
      color: $b_medium_gray;
      font-size: 2rem;
      margin: .5em;
    }
  }

  .button_content {
    display: flex;
    justify-content: space-evenly;
  }

  main {
    display: flex;

    textarea {
      color: $darker_gray;
      border-radius: 30px;
      width: 100%;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: right;
      padding: 1rem;
      margin: 0 .5rem;
      border: 2px solid;
      font-family: inherit;
      direction: rtl;
      outline: none;
    }
  }

  .background_color {
    button {
      @extend %button_first;
      min-width: 17rem;
      background: $bright_green;
      margin: 0.9rem auto;
    }
  }
}


[hidden] {
  display: none;
}

@media screen and (max-width: 414px) {
  section .button_content button {
    font-size: 1.20rem;
  }
}

@media (min-width: 550px) {

  main,
  .text_align_center {
    width: 50%;
    margin: 0 auto;
  }

  .text_align_center {
    place-content: center;
    display: flex;
  }
}
