<section>
    <div class="test">
        <div class="side_view"></div>
    </div>
    <main>
        <div class="message">
            <div class="sign">
                <i class="fa fa-times"></i>
            </div>
            <h1>پرداخت ناموفق</h1>
            <div class="back_to_insert_id">
                <button [routerLink]="[ '/pg' ]">آیا میخواهید قبض دیگری پرداخت کنید؟</button>
                <button [routerLink]="['/'+ IpgInfo[0] + '/bill?checked=1']" class="_special">مشاهده آخرین قبض</button>
            </div>
        </div>
    </main>
</section>