<main>
    <div class="error_inner">
        <div class="form">
            <div class="form-item">
                <input [(ngModel)]="input" type="number" class="form-input" name="billId"
                    placeholder="شناسه قبض را اینجا وارد کنید" autofocus required
                    title="لطفا  شناسه قبض خود را وارد فرمایید">
            </div>
            <div class="div1" (click)="checkValidInput()">
                <p class="fa fa-search"></p>
                <div class="div2">
                </div>
            </div>
        </div>
    </div>
    <img class="img_class" src="assets/pagenotfound/pg3.png" alt="">
</main>