@import "../../assets/input.scss";
@import "../../assets/mixins.scss";
@import "../../assets/second_button.scss";
@import "../../assets/@media.scss";
@import "../../assets/spinner_loader.scss";

main {
  --after_img: url(/assets/imgs/pagenotfound/ImgFollowUp.png);
  --h1_job_detail: #EEEEEE;
  height: 100%;
  min-height: 55vh;
  border-radius: 55px 55px 30% 30%;
  text-align: center;

  display: grid;
  gap: .5rem;

  section {
    border-radius: 20px;
    padding-bottom: 2rem;
    margin: 1rem .3rem;
    box-shadow: 1px 1px 3px 0 var(--h1_job_detail);

    ._job_detail {
      h1 {
        font-weight: 700;
        padding-left: .5rem;
        color: $c_light_gray;
        @include justify_center;

        &::after {
          content: var(--after_img);
          vertical-align: middle;
          line-height: 0;
          padding-left: 1rem;
        }
      }

    }


  }

  .register_new {
    --after_img: url(/assets/imgs/pagenotfound/rn.png);
    --orange: #e4572e;
    --v-l-c: #e3e3e3;
    --h1_job_detail: var(--orange);
    $c_medium_gray: #cfcfcf;
    background-color: $c_medium_gray;

    button {
      background-color: var(--h1_job_detail);
      color: var(--v-l-c);
    }

    ._job_detail {

      h1 {
        color: var(--h1_job_detail);

        ::after {
          content: var(--after_img);
        }
      }

      hr {
        border: 2px solid var(--h1_job_detail);

      }

    }
  }

  .track_request {
    --h1_job_detail: #e91e63;
    $c_main_dark: #062c68;
    --color: $c_main_dark;
    background-color: $c_main_dark;

    button {
      color: var(--h1_job_detail);
      border: 2px solid var(--h1_job_detail);
    }

    ._job_detail {
      h1 {
        color: var(--h1_job_detail);
      }

      hr {
        border: 2px solid var(--h1_job_detail);
        background-color: transparent;
      }
    }
  }

  .error_inner {
    --after_img: url(/assets/imgs/pagenotfound/ImgSupport.png);
    --h1_job_detail: #4451a0;
    background-color: var(--h1_job_detail);

    h1 {
      ::after {
        content: var(--after_img);
      }
    }

    button {
      color: var(--h1_job_detail);
    }

    hr {
      background-color: transparent;
    }

  }

  .form {
    width: 90%;
    margin-bottom: 1rem;

    .form-item {
      background: inherit;
      width: inherit;
      height: inherit;

      .form-input {
        font-size: 1.2rem;
        padding: 0 0.5rem;
        text-align: center;
      }
    }
  }

  button {
    @extend %second_button;
  }
}

.loader {
  left: 25%;
}

@media(min-width: 670px) {

  main {
    min-height: 60vh;
    border-radius: 0;

    button {
      width: 90%;
      margin: 0;
    }

    .register_new {

      hr {
        margin-bottom: 5rem;
      }
    }

    .error_inner {
      $c_dark: #142147;

      .form {
        background: $c_dark;
      }
    }


    ._job_detail {
      display: block;
      margin-bottom: 6rem;

      h1 {
        font-size: 2rem;
        margin-bottom: 0;
      }
    }
  }

}

@media(min-width: 1020px) {

  main {
    grid-auto-flow: dense;

    .register_new {
      grid-column: 2/3;
    }

    .track_request {
      grid-column: 1/2;
    }

    .error_inner {
      grid-column: 3/-1;
    }
  }

}

@include threeColumnsWithVals(main, 670px, 1020px);
