@import "../../assets/input.scss";
@import "../../assets/mixins.scss";

$c_main_dark: #062c68;
$c_dark: #142147;
$c_light_gray: #EEEEEE;
$c_dark_gray: #AEAEAE;

main {
  height: 100%;
  min-height: 55vh;
  border-radius: 55px 55px 30% 30%;
  text-align: center;
  background: $c_main_dark;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .img_content {
    .img_class {
      background-size: initial;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;
      height: 13rem;
      width: 90%;
      border-radius: 30px 30px 10% 10%;

      @media (max-width: 320px) {
        width: 78%;
      }
    }
  }

  .error_inner {
    padding: 0.2rem;
    margin: 1rem 0;

    ._job_detail {
      display: none;

      h1 {
        font-weight: 700;
        color: $c_light_gray;
      }

      p,
      hr {
        color: $c_dark_gray;
      }
    }
  }

  .form {
    width: 90%;

    .form-item {
      background: inherit;

      .form-input {
        font-size: 1.2rem;
        padding: 0 0.5rem;
        text-align: center;
      }
    }

    .div1 {
      width: 25%;
      cursor: pointer;

      p {
        transform: translateY(-50%) translateX(-50%);
        top: 50%;
        transition: ease-in-out 200ms font-size;

        &:hover,
        &:focus,
        &:active {
          font-size: 1.5rem;
        }
      }

      .div2 {
        background-color: $c_main_dark;
      }
    }
  }
}

@media(min-width: 880px) {
  main {
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    border-radius: 0;

    .img_content {
      grid-column: 1/3;
      height: 100%;

      .img_class {
        width: 100%;
        height: 100%;
      }
    }

    .error_inner {
      background: $c_dark;
      grid-column: 3/-1;
      margin: 0;


      .form .div1 .div2 {
        background: $c_dark;
      }

      ._job_detail {
        display: block;

        h1 {
          font-weight: 700;
          color: $c_light_gray;
          font-size: 3rem;
          margin-bottom: 0;
        }

        p {
          color: $c_dark_gray;
          margin-top: 0;
          font-size: 1.33rem;
          font-weight: 600;
        }

        hr {
          width: 70%;
          margin-bottom: 15%;
          height: .4rem;
          border-radius: 30px;
          background: $c_light_gray;
        }
      }
    }
  }
}

// .input {
//   width: 0rem;
//   position: absolute;
//   left: 28%;
//   border: none;
//   outline: none;
//   text-align: center;
//   z-index: 2;
//   top: 50%;

//   input {
//     width: 8rem;
//     background: transparent;
//     outline: none;
//     color: #f89406;
//     border: 0;
//     text-align: center;
//     font-weight: 600;
//     font-size: 1rem;
//   }
// }
