<main>
    <section class="error_inner">
        <div class="_job_detail">
            <h1>خدمات پس از فروش</h1>
            <hr>
        </div>
        <form [formGroup]="serviceDeskForm" (ngSubmit)="checkValidInput()">
            <div class="form">
                <div class="form-item">
                    <input [(ngModel)]="billId" type="text" class="form-input" formControlName="billId"
                        placeholder="شناسه قبض را اینجا وارد کنید" title="لطفا  شناسه قبض خود را وارد فرمایید"
                        minlength="3" maxlength="13" required>
                    <i *ngIf="spinnerBooleanServiceDesk" class="loader"></i>
                </div>
            </div>
            <div class="justify_center">
                <button>
                    <div class="enter">ورود</div>
                </button>
            </div>
        </form>
    </section>
    <section class="register_new">
        <div class="_job_detail">
            <h1>خرید انشعاب جدید</h1>
            <hr>
        </div>
        <form [formGroup]="registerNewForm" (ngSubmit)="isNeighbourBillId()">
            <div class="form">
                <div class="form-item">
                    <input [(ngModel)]="neighbourBillId" type="text" class="form-input"
                        formControlName="neighbourBillId" placeholder="شناسه قبض همسایه را اینجا وارد کنید"
                        title="لطفا  شناسه قبض  همسایه خود را وارد فرمایید" minlength="3" maxlength="13" required>
                    <i *ngIf="spinnerBooleanNeighbour" class="loader"></i>
                </div>
            </div>
            <div class="justify_center">
                <button>
                    <div class="enter">شروع درخواست</div>
                </button>
            </div>
        </form>
    </section>
    <section class="track_request">
        <div class="_job_detail">
            <h1>پیگیری درخواست های قبلی</h1>
            <hr>
        </div>
        <form [formGroup]="trackRequestForm" (ngSubmit)="checkTrackNumber()">
            <div class="form">
                <div class="form-item">
                    <input [(ngModel)]="tracks" type="text" class="form-input" formControlName="trackNumber"
                        placeholder="شماره پیگیری را اینجا وارد کنید" title="لطفا شماره پیگیری را وارد فرمایید"
                        minlength="2" maxlength="10" required>
                </div>
            </div>
            <div class="justify_center">
                <button type="submit">
                    <div class="enter">ورود</div>
                </button>
            </div>
        </form>
    </section>
</main>

<app-spinner-wrapper></app-spinner-wrapper>