<section>

    <div class="header_title">
        <h3 class="title">
            اطلاعات من
        </h3>
    </div>


    <main class="main">

        <div class="background first_background">
            <div class="form" *ngFor="let mi of memberInfo | keyvalue">
                <div class="form-item">
                    <input type="text" readonly name="viewBill.value" class="form-input text_align_right"
                        aria-label="mi.key" value="{{mi.value}}">
                    <!-- <i *ngIf="spinnerBoolean" class="loader"></i> -->
                </div>
                <div class="div1">
                    <p>{{mi.key}}</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>