<section>

    <div class="header_title">
        <h3 class="title">
            اطلاعات انشعاب
        </h3>
    </div>


    <main class="main">

        <div class="background first_background">

            <div class="form">
                <div class="form-item">
                    <input type="string" readonly name="eshterak" class="form-input" aria-label="eshterak"
                        value="{{memberInfo.eshterak}}">
                </div>
                <div class="div1">
                    <p>اشتراک</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="number" readonly name="billId" class="form-input" aria-label="billId"
                        value="{{memberInfo.billId}}">
                </div>
                <div class="div1">
                    <p>شناسه قبض</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="text" readonly name="name" class="form-input m_font_size" aria-label="name"
                        value="{{memberInfo.firstName}} {{memberInfo.sureName}}">
                </div>
                <div class="div1">
                    <p>نام و نام خانوادگی</p>
                    <div class="div2">
                    </div>
                </div>
            </div>


        </div>
        <div class="background ">
            <div class="form">
                <div class="form-item">
                    <input type="number" readonly name="radif" class="form-input" aria-label="radif"
                        value="{{memberInfo.radif}}">
                </div>
                <div class="div1">
                    <p>ردیف</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="text" readonly name="karbari" class="form-input m_font_size" aria-label="karbari"
                        value="{{memberInfo.karbari}}">
                </div>
                <div class="div1">
                    <p>کاربری</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="text" readonly name="qotr" class="form-input" aria-label="qotr"
                        value="{{memberInfo.qotr}}">
                </div>
                <div class="div1">
                    <p>قطر انشعاب</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="text" readonly name="siphon" class="form-input" aria-label="siphon"
                        value="{{memberInfo.siphon}}">
                </div>
                <div class="div1">
                    <p>قطر سیفون</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="text" readonly name="zoneTitle" class="form-input m_font_size" aria-label="zoneTitle"
                        value="{{memberInfo.zoneTitle}}">
                </div>
                <div class="div1">
                    <p>منطقه</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="number" readonly name="domesticUnit" class="form-input" aria-label="domesticUnit"
                        value="{{memberInfo.domesticUnit}}">
                </div>
                <div class="div1">
                    <p>آحاد مسکونی</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="number" readonly name="nonDomesticUnit" class="form-input" aria-label="nonDomesticUnit"
                        value="{{memberInfo.nonDomesticUnit}}">
                </div>
                <div class="div1">
                    <p>آحاد غیرمسکونی</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="number" readonly name="capacity" class="form-input" aria-label="capacity"
                        value="{{memberInfo.capacity}}">
                </div>
                <div class="div1">
                    <p>ظرفیت</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="number" readonly name="mande" class="form-input" aria-label="mande"
                        value="{{memberInfo.mande}}">
                </div>
                <div class="div1">
                    <p>بدهی آب بها</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="number" readonly name="arse" class="form-input" aria-label="arse"
                        value="{{memberInfo.arse}}">
                </div>
                <div class="div1">
                    <p>عرصه</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="number" readonly name="aian" class="form-input" aria-label="aian"
                        value="{{memberInfo.aian}}">
                </div>
                <div class="div1">
                    <p>اعیان</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="text" readonly name="address" class="form-input m_font_size" aria-label="address"
                        value="{{memberInfo.address}}">
                </div>
                <div class="div1">
                    <p>نشانی</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>
<app-spinner-wrapper></app-spinner-wrapper>