<section>

    <div class="header_title">
        <h3 class="title">
            اطلاعات من
        </h3>
    </div>


    <main class="main">

        <div class="background first_background">
            <div class="form" *ngFor="let mi of memberInfo | keyvalue | filter">
                <div class="form-item">
                    <input type="text" readonly name="mi.value" class="form-input" aria-label="mi.key"
                        value="{{mi.value}}">
                </div>
                <div class="div1">
                    <p>{{mi.key | memberInfo}}</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>
<app-spinner-wrapper></app-spinner-wrapper>