@import '../../../../../assets/main';

$__border_radius: 15px;
$__border_radius_bigger: 50px;

$disable_pay: #660033;

@mixin borders {
  border: .2rem solid;
  border-radius: $__border_radius;
}

section {
  border-radius: $__border_radius;
  direction: rtl;
  overflow: auto;

  .main_section {
    display: flex;
    width: fit-content;
    border-radius: 30px;
    border: 1px solid;
    background: $white;
    margin: auto auto 2rem;
  }
}

._first,
._second,
._third,
._forth {
  margin-top: auto;
  max-width: 22rem;
  min-width: 15rem;
  width: auto;
  height: auto;

  .borders {
    @include borders();
    padding: 0.5rem 0.3rem;
    font-weight: 800;
    margin: .2rem;

    .details {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: .5rem;
    }
  }
}

._first {
  width: 20rem;

  .second_article {
    color: #b3377f;
  }

  .non_border {
    border: none !important;
  }

  .abfa {

    img {
      $size: 4rem;
      width: $size;
      height: $size;
    }

    article {
      color: #569bc4;
      font-size: 1.2rem;
    }
  }
}


._forth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;

  img {
    @include borders();
    min-height: 15rem;
    height: 50%;
  }

  h3 {
    text-align: center;
    color: #569bc4;
    font-size: 1.78rem;
  }

  .__content {
    .borders {
      border-color: #c9e6ea;
      background-color: #c6edfe;

      .details {
        display: block;
        align-items: unset;
        width: auto;
        margin-bottom: 0.5rem;
        text-align: center;
      }
    }

    .text_part {
      font-size: 1.6rem;
    }
  }



  .text_part,
  .dynamic_details {
    width: 100%;
    font-size: 1.5rem;
  }
}


._second {
  margin-top: auto;
  width: 18rem;

  .horizontal_alignment {
    display: flex;
    padding: 0 0.5rem !important;

    .inner_div {
      align-items: center;
      display: flex;
      border-left: .1rem solid;
      width: 40%;
      margin-left: 1rem;
    }

    .outer_div {
      width: 65%;

      .details {
        flex-direction: row;
      }
    }

    .details {
      display: flex;
      flex-direction: column;

      .text_part {
        width: 100%;
      }
    }
  }

}

._third {
  width: 17rem;

  .first_child {
    height: 32rem;
  }

  .pay_section {
    border-color: #c5a6b8 !important;
    background-color: #fcdbf0;
    color: #ea1919;
  }

  .last_child {
    display: block !important;
    text-align: center;
    border-top: .2rem solid;
    margin-top: 10rem;
  }

  p {
    padding-bottom: 0 0 2rem;
    border-bottom: .2rem solid;
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
  }

  .text_part,
  .dynamic_details {
    width: 100%;
  }
}

.text_part,
.dynamic_details {
  width: 50%;
  padding: 0 .2rem;
  font-size: .87rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.dynamic_details {
  direction: ltr;
}

button {
  @extend %button_first;
  width: 100%;
}

._button_section {
  width: 21rem;
  margin: auto;
}

.info {
  display: block;

  .advice {
    margin: .2rem;
    border: 2px solid;
    border-radius: $__border_radius;
    padding: .2rem;
    font-size: 1.2rem;
    width: 50%;
  }

  @media (min-width: 780px) {
    display: flex;
    width: 100%;
  }
}
