<section>
    <div class="main_section">
        <div class="_first">
            <div class="borders non_border">
                <div class="abfa">
                    <article>وزارت نیرو- شرکت آب و فاضلاب استان اصفهان</article>
                </div>
                <article>
                    <div>تلفن حوادث: 122</div>
                    <div class="second_article">خدمات غیر حضوری با تلفن 1522</div>
                </article>
            </div>
            <div class="borders" style="margin-top: 2.65rem;">
                <div class="details">
                    <div class="text_part">شهر</div>
                    <div class="dynamic_details">{{$childEl.zoneTitle}} </div>
                </div>
                <div class="details">
                    <div class="text_part">مشترک گرامی</div>
                    <div class="dynamic_details">{{$childEl.fullName}}</div>
                </div>
                <div class="details">
                    <div class="text_part">آدرس</div>
                    <div class="dynamic_details">-----</div>
                </div>
                <div class="details">
                    <div class="text_part">کد پستی</div>
                    <div class="dynamic_details">-----</div>
                </div>
            </div>
            <div class="borders">
                <div class="details">
                    <div class="text_part">کاربری</div>
                    <div class="dynamic_details">{{$childEl.karbariTitle}}</div>
                </div>
                <div class="details">
                    <div class="text_part">تعداد واحد:</div>
                    <div class="dynamic_details">-----</div>
                </div>
                <div class="details">
                    <div class="text_part">ظرفیت قراردادی </div>
                    <div class="dynamic_details">{{$childEl.zarfiatQarardadi}}</div>
                </div>
            </div>
            <div class="borders">
                <div class="details">
                    <div class="text_part">کد تعرفه</div>
                </div>
                <div class="details">
                    <div class="text_part">قطر کنتور</div>
                    <div class="dynamic_details">{{$childEl.qotr}} </div>
                </div>
                <div class="details">
                    <div class="text_part">وضعیت کنتور</div>
                    <div class="dynamic_details">{{$childEl.counterStateId}} </div>
                </div>
            </div>
        </div>
        <div class="_second">
            <div class="borders">
                <div class="details">
                    <div class="text_part">شماره ردیف</div>
                    <div class="dynamic_details"> {{$childEl.radif}}</div>
                </div>
                <div class="details">
                    <div class="text_part">شماره اشتراک</div>
                    <div class="dynamic_details">{{$childEl.eshterak}} </div>
                </div>
                <div class="details">
                    <div class="text_part">شماره برگه:</div>
                    <div class="dynamic_details">{{$childEl.barge}} </div>
                </div>
            </div>
            <div class="borders horizontal_alignment">
                <div class="inner_div">
                    تاریخ قرائت
                </div>
                <div class="outer_div">
                    <div class="details">
                        <div class="text_part">پیشین</div>
                        <div class="dynamic_details">{{$childEl.preCounterReadingDate}} </div>
                    </div>
                    <div class="details">
                        <div class="text_part">کنونی</div>
                        <div class="dynamic_details">{{$childEl.currentCounterReadingDate}} </div>
                    </div>
                </div>
            </div>
            <div class="borders">
                <div class="details">
                    <div class="text_part">تعداد روز</div>
                    <div class="dynamic_details">{{$childEl.days}} </div>
                </div>
            </div>
            <div class="borders horizontal_alignment">
                <div class="inner_div">
                    شماره کنتور
                </div>
                <div class="outer_div">
                    <div class="details">
                        <div class="text_part">پیشین</div>
                        <div class="dynamic_details"> {{$childEl.radif}}</div>
                    </div>
                    <div class="details">
                        <div class="text_part">کنونی:</div>
                        <div class="dynamic_details">{{$childEl.barge}} </div>
                    </div>
                </div>
            </div>
            <div class="borders">
                <div class="details">
                    <div class="text_part">مصرف به مترمکعب</div>
                    <div class="dynamic_details">{{$childEl.masraf}}</div>
                </div>
                <div class="details">
                    <div class="text_part">مصرف به لیتر </div>
                    <div class="dynamic_details">{{$childEl.masrafLiter}}</div>
                </div>
                <div class="details">
                    <div class="text_part">متوسط مصرف ماهانه/ متر مکعب </div>
                    <div class="dynamic_details">{{$childEl.masrafAverage}}</div>
                </div>
            </div>
        </div>
        <div class="_third">
            <div class="borders first_child">
                <p> شرح اقلام و مبالغ به ریال</p>
                <div class="details">
                    <div class="text_part">بهای آب مصرفی </div>
                    <div class="dynamic_details">{{$childEl.abBaha | perCurrencySplitter }}</div>
                </div>
                <div class="details">
                    <div class="text_part">کارمزد دفع فاضلاب </div>
                    <div class="dynamic_details">{{$childEl.karmozdFazelab| perCurrencySplitter}}</div>
                </div>
                <div class="details">
                    <div class="text_part">مالیات و عوارض</div>
                    <div class="dynamic_details">{{$childEl.maliat| perCurrencySplitter}}</div>
                </div>
                <div class="details">
                    <div class="text_part">قانون بودجه </div>
                    <div class="dynamic_details">{{$childEl.budget| perCurrencySplitter}}</div>
                </div>
                <div class="details">
                    <div class="text_part">بدهکاری یا بستانکاری قبلی</div>
                    <div class="dynamic_details">{{$childEl.preBedOrBes| perCurrencySplitter}}</div>
                </div>
                <div class="details last_child">
                    <div class="text_part">جمع</div>
                    <div class="dynamic_details">{{$childEl.jam| perCurrencySplitter}}</div>
                </div>
            </div>

            <div class="grid_area2">
                <div class="borders pay_section">
                    <div class="details">
                        <div class="text_part">مبلغ قابل پرداخت</div>
                        <div class="dynamic_details">{{$childEl.payable| perCurrencySplitter}}</div>
                    </div>
                    <div class="details">
                        <div class="text_part">مهلت پرداخت</div>
                        <div class="dynamic_details">{{$childEl.deadLine}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_forth">
            <div class="__content_img">
                <img src="assets/imgs/iranFlag.jpeg" alt="">
            </div>
            <h3>
                آب، زندگی بخش است...
            </h3>
            <div class="__content">
                <div class="borders">
                    <div class="details">
                        <div class="text_part">شناسه قبض</div>
                        <div class="dynamic_details">{{$childEl.billId}}</div>
                    </div>
                </div>
                <div class="borders">
                    <div class="details">
                        <div class="text_part">شناسه پرداخت</div>
                        <div class="dynamic_details">{{$childEl.payId}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="_button_section">
    <button class="pay_button" (click)="exportAsPrint()">پرینت قبض</button>
</div>

<section class="info">
    <div class="advice">
        <p>* مشترکین دارای واحد های مسکونی و غیر مسکونی منهای شصت و پایین تر موظف به استفاده از والو یک طرفه فاضلاب جهت
            جلوگیری از پس زدگی فاضلاب در مواقع بارندگی می باشند
            * هر گونه تغییر در نوع کاربری و تعداد واحد ملک خود را در اسرع وقت به واحد مشترکین اداره آب و فاضلاب منطقه
            مربوطه اعلام فرمایید.
            * در هنگام عزیمت به خارج از منزل برای مدت طولانی یا بدون استفاده بودن ملک، حتما والو بعد از کنتور را ببندید
            تا دچار خسارت ناشی از هدر رفت آب نشوید
            * خریداران و موجران واحد هایی که دارای انشعاب آب و فاضلاب هستند باید هنگام معامله یا تخلیه ملک، برگ تسویه
            حساب مطالبه نمایند تا بعدا به علت بدهی یا قطعی آب مواجه نشوند. ضمنا به
            مندرجات برگه تسویه نیز توجه شود.
            * در موارد مشروح زیر انشعاب مشترک یا استفاده کننده به طور موقت قطع می گردد:
            الف - عدم پرداخت کلیه دیون در موعد مقرر
            ب - استفاده غیر مجاز از انشعاب واگذار شده آب و فاضلاب
            ج - لوله کشی انشعاب به ملک دیگر
            د - نصب پمپ به طور مستقیم بر روی انشعاب
            ه - عدم امکان خواندن کنتور برای سه دوره متوالی
            * در موارد زیر انشعاب به طور دایم جمع آوری می شود :
            الف - درخواست برچیدن انشعاب توسط مشترک
            ب - هرگاه سه سال از قطع موقت بگذرد و وضعیت انشعاب مشخص نگردد
            ج - در صورتی که پس از گذشت یک سال از قطع موقت بدهی مشترک به 50 درصد هزینه برقراری انشعاب برسد
            د - در صورتی تکرار تخلف و وصل خودسرانه انشعاب</p>
    </div>
    <div class="advice">
        <p>
            * با پرداخت به موقع این صورتحساب ، ما را در توسعه و بهبود آبرسانی و دفع فاضلاب یاری نمایید.
            * صورت حساب شما بر اساس میانگین مصرف ماهانه محاسبه می شود. با صرفه جویی در مصرف ، علاوه بر حفظ منابع آبی
            کشور، مبلغ صورتحساب آب بها نیز کاهش می یابد.
            * در صورت عدم دریافت صورت حساب پس از گذشت دو ماه از آخرین صورتحساب به اداره آب و فاضلاب مربوطه مراجعه
            نمایید.
            * عدم دریافت صورتحساب توسط مشترک از تعهد پرداخت وی نمی کاهد و در صورت عدم حضور مشترک در محل ملک در زمان
            مراجعه مامور ثبت شماره کنتور، مشترک موظف است جهت اعلام
            شماره کنتور و دریافت صورتحساب به سامانه 1522 کلید 5 تماس حاصل نمایید.
            * محفظه انشعاب واحد خود را همیشه مرتب نگه دارید تا در موقع بروز حادثه دچار خسارت نشوید و از هرگونه دستکاری
            کنتور آب جدا خوداری نمایید
            * هر گونه اشتباه مندرج در این قبض قابل اصلاح است
            برای کسب اطلاعات بیشتر و استفاده از کلیه خدمات غیر حضوری، می توانید به پرتال این شرکت به آدرس
            www.abfaesfahan.ir مراجعه نمایید
            برای اطلاع از روش های مصرف بهینه آب به پرتال مدیریت مصرف این شرکت به آدرس www.abnama.ir مراجعه نمایید
        </p>
    </div>
</section>