@import "../../../assets/main.scss";

.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around2 2s infinite;
  z-index: 1;
  left: 25px;
  bottom: 23px;
  background: $medium_slate_blue;
}

@keyframes around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes around2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loader::after,
.loader::before {
  content: "";
  background: $medium_slate_blue;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  animation: around 2s ease-in-out infinite;
}

.loader::after {
  animation: around 2s ease-in-out 2s infinite;
  background: transparent;
}
