<section>


  <main class="main">
    <h3 class="text_align_center">متن آزمایشی </h3>
    <div class="form">
      <div class="form-item">
        <input type="text" readonly name="viewBill.value" class="form-input text_align_right" aria-label="first name"
          value="{{viewBillTypeOnly[3]}}">
      </div>
      <div class="div1">
        <p>مشترک گرامی</p>
        <div class="div2">
        </div>
      </div>
    </div>
    <div class="form">
      <div class="form-item">
        <input type="text" readonly name="viewBill.value" class="form-input text_align_right" aria-label="first name"
          value="{{viewBillTypeOnly[2]}}">
      </div>
      <div class="div1">
        <p>شناسه قبض</p>
        <div class="div2">
        </div>
      </div>
    </div>
    <div class="form">
      <div class="form-item">
        <input type="text" readonly name="viewBill.value" class="form-input text_align_right" aria-label="first name"
          value="{{viewBillTypeOnly[3]}}">
      </div>
      <div class="div1">
        <p>شناسه پرداخت</p>
        <div class="div2">
        </div>
      </div>
    </div>
    <div class="form">
      <div class="form-item">
        <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
          value="{{viewBillTypeOnly[32]}}">
      </div>
      <div class="div1">
        <p>مبلغ قابل پرداخت</p>
        <div class="div2">
        </div>
      </div>
    </div>
    <div class="form">
      <div class="form-item">
        <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
          value="{{viewBillTypeOnly[38]}}">
      </div>
      <div class="div1">
        <p>مهلت پرداخت</p>
        <div class="div2">
        </div>
      </div>
    </div>
    <div class="form">
      <div class="form-item">
        <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
          value="{{viewBillTypeOnly[5]}}">
      </div>
      <div class="div1">
        <p>کاربری</p>
        <div class="div2">
        </div>
      </div>
    </div>
    <div class="first_background blue_background">
      <h3 class="text_align_center">تعداد واحد</h3>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[6]}}">
        </div>
        <div class="div1">
          <p>تعداد واحد مسکونی</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[7]}}">
        </div>
        <div class="div1">
          <p>تعداد واحد غیر مسکونی</p>
          <div class="div2">
          </div>
        </div>
      </div>
    </div>
    <div class="first_background blue_background">
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[8]}}">
        </div>
        <div class="div1">
          <p>ظرفیت قراردادی</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[9]}}">
        </div>
        <div class="div1">
          <p>قطرانشعاب</p>
          <div class="div2">
          </div>
        </div>
      </div>
    </div>
    <div class="first_background orange_background">
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[10]}}">
        </div>
        <div class="div1">
          <p>قطر سیفون</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[11]}}">
        </div>
        <div class="div1">
          <p>وضعیت کنتور</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[12]}}">
        </div>
        <div class="div1">
          <p>شماره ردیف</p>
          <div class="div2">
          </div>
        </div>
      </div>
    </div>
    <div class="first_background purple_background">
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[16]}}">
        </div>
        <div class="div1">
          <p>شماره برگه</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[15]}}">
        </div>
        <div class="div1">
          <p>شماره اشتراک</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[17]}}">
        </div>
        <div class="div1">
          <p>تاریخ قرائت پیشین</p>
          <div class="div2">
          </div>
        </div>
      </div>
    </div>
    <div class="first_background darkgreen_background">
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[18]}}">
        </div>
        <div class="div1">
          <p>تاریخ قرائت کنونی</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[14]}}">
        </div>
        <div class="div1">
          <p>تعداد روز</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[1]}}">
        </div>
        <div class="div1">
          <p> شماره کنتور پیشین</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[19]}}">
        </div>
        <div class="div1">
          <p>شماره کنتور کنونی</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[20]}}">
        </div>
        <div class="div1">
          <p>مصرف به مترمکعب</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[21]}}">
        </div>
        <div class="div1">
          <p>مصرف به لیتر</p>
          <div class="div2">
          </div>
        </div>
      </div>
    </div>
    <div class="first_background lightblue_background">

      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[22]}}">
        </div>
        <div class="div1">
          <p>متوسط مصرف</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[23]}}">
        </div>
        <div class="div1">
          <p>بهای آب مصرفی</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[24]}}">
        </div>
        <div class="div1">
          <p>بهای دفع فاضلاب</p>
          <div class="div2">
          </div>
        </div>
      </div>
    </div>
    <div class="first_background lightblue_background">
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[26]}}">
        </div>
        <div class="div1">
          <p>مالیات و عوارض</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[25]}}">
        </div>
        <div class="div1">
          <p>تکلیف قانون بودجه</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[27]}}">
        </div>
        <div class="div1">
          <p>لوازم کاهنده</p>
          <div class="div2">
          </div>
        </div>
      </div>
    </div>
    <div class="first_background lightblue_background">
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[29]}}">
        </div>
        <div class="div1">
          <p>جمع</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[28]}}">
        </div>
        <div class="div1">
          <p>تخفیف</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[30]}}">
        </div>
        <div class="div1">
          <p>بدهی بستانکاری</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[31]}}">
        </div>
        <div class="div1">
          <p>بدهی بستانکاری</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[32]}}">
        </div>
        <div class="div1">
          <p>بدهی بستانکاری</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[33]}}">
        </div>
        <div class="div1">
          <p>بدهی بستانکاری</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[34]}}">
        </div>
        <div class="div1">
          <p>بدهی بستانکاری</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[35]}}">
        </div>
        <div class="div1">
          <p>بدهی بستانکاری</p>
          <div class="div2">
          </div>
        </div>
      </div>
      <div class="form">
        <div class="form-item">
          <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
            value="{{viewBillTypeOnly[36]}}">
        </div>
        <div class="div1">
          <p>بدهی بستانکاری</p>
          <div class="div2">
          </div>
        </div>
      </div>
    </div>
  </main>

</section>

<section class="barcode">
  <ngx-barcode [bc-value]="viewBillTypeOnly[36]" [bc-width]="width" [bc-display-value]="displayValue" [bc-height]="height"
    [bc-display-value]="true"></ngx-barcode>
</section>

<section class="pay_section">
  <div class="pay_button">
    <a href="{{chooseBank.linkToSite}}" target="_blank" ref='noopener noreferrer'>
      <!--  [disabled]="viewbillArray.IsPayed === false" -->
      <button>
        پرداخت با {{chooseBank.name}}
      </button>
    </a>
  </div>

  <div class="banks">
    <div class="bank_icons" (click)="changeBankForPay(banks.name , banks.linkToSite)" *ngFor="let banks of bankIcons">
      <img src="{{banks.imgUrl}}">
      <!-- <h3>
        {{banks.name}}
      </h3> -->
    </div>
  </div>
</section>