<section>
  <div class="header_icon">
    <img src="../../../assets/imgs/logo.png" alt="">
  </div>
  <div class="header_title">
    <h3 class="title">
      مشاهده قبض
    </h3>
  </div>

</section>
<section>


  <main class="main">
    <div class="background first_background">
      <div *ngFor="let ww of viewBill | async; let first_back = index;">
        <div class="form" *ngIf="first_back < 4">
          <div class="form-item">
            <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
              [(ngModel)]="ww.value">
          </div>
          <div class="div1">
            <p>{{ww.type}}</p>
            <div class="div2">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="orange_background">
      <div *ngFor="let ww of viewBill | async; let orange_back = index">
        <div class="form" *ngIf="orange_back > 3 && 8 > orange_back">
          <div class="form-item">
            <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
              [(ngModel)]="ww.value">
          </div>
          <div class="div1">
            <p>{{ww.type}}</p>
            <div class="div2">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="background blue_background">
      <div *ngFor="let ww of viewBill | async; let blue_back = index">
        <div class="form" *ngIf="blue_back > 7 && 10 > blue_back">
          <div class="form-item">
            <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
              [(ngModel)]="ww.value">
          </div>
          <div class="div1">
            <p>{{ww.type}}</p>
            <div class="div2">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background second_background">
      <div *ngFor="let ww of viewBill | async; let second_back = index">
        <div class="form" *ngIf="second_back > 9 && 12 > second_back">
          <div class="form-item">
            <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
              [(ngModel)]="ww.value">
          </div>
          <div class="div1">
            <p>{{ww.type}}</p>
            <div class="div2">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="background lightblue_background">
      <div *ngFor="let ww of viewBill | async; let lightblue_back = index">
        <div class="form" *ngIf="2 > lightblue_back">
          <div class="form-item">
            <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
              [(ngModel)]="ww.value">
          </div>
          <div class="div1">
            <p>{{ww.type}}</p>
            <div class="div2">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="background purple_background">
      <div *ngFor="let ww of viewBill | async; let purple_back = index">
        <div class="form" *ngIf="2 > purple_back">
          <div class="form-item">
            <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
              [(ngModel)]="ww.value">
          </div>
          <div class="div1">
            <p>{{ww.type}}</p>
            <div class="div2">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="background darkgreen_background">
      <div *ngFor="let ww of viewBill | async; let darkgreen_back = index">
        <div class="form" *ngIf="5 > darkgreen_back">
          <div class="form-item">
            <input type="text" readonly name="viewBill.value" class="form-input" aria-label="first name"
              [(ngModel)]="ww.value">
          </div>
          <div class="div1">
            <p>{{ww.type}}</p>
            <div class="div2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</section>

<section>
  <footer>
    <button [routerLink]="[ '/banks' ]">انتخاب بانک موردنظر</button>
  </footer>
</section>