.content {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 50vh;
  margin: 0;
  padding: 0 .15rem;
}
@media screen and (min-width: 550px ) {
  main {
    margin: 0 25%;
    min-width: auto;
  }
}