.content {
  min-height: 70vh;
  overflow: hidden;
  display: block;
  position: relative;
}

@media screen and (min-width: 550px) {
  .content {
    margin: 0 auto;
    min-width: auto;
    padding: 0 .15rem;
  }
}
