.content {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 26.29rem;
  margin: 0;
}

@media screen and (min-width: 550px) {
  .content {
    // width: 50%;
    margin: 0 auto;
    min-width: auto;
    padding: 0 .15rem;
  }
}
