<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content  border_radius">
        <div class="modal-header border_radius">
            <h2>راهنمای استفاده از همراه آبفا استان اصفهان</h2>
        </div>
        <div class="modal-body">
            <p>
                اپلیکیشن اندروید "همراه آبفای استان اصفهان" به سفارش شرکت آب و فاضلاب استان اصفهان جهت سهولت
                ارتباط مشترکین و شرکت و کاهش مراجعات حضوری از طریق انجام خدمات به صورت غیرحضوری، برنامه‌نویسی
                و در فروشگاه های معتبر اندروید منتشرشد.
                شما می توانید با مراجعه به مارکت های معتبر اندرویدی ایرانی، در هر زمان نسبت به نصب این برنامه کاربری
                اقدام
                نمایید.
            </p>
            <!-- <img src="assets/imgs/android_help/image002.jpg"> -->
            <!-- <img src="assets/imgs/android_help/image004.jpg">
            <img src="assets/imgs/android_help/image006.jpg"> -->
            <p>
                پس از نصب و اجرای برنامه، وارد صفحه اصلی برنامه می شوید که شامل عناوین:
            </p>
            <p>
                1. آخرین قبض
            </p>
            <p>
                2. صورتحساب
            <p>
                3. اعلام کارکرد کنتور
            </p>
            <p>
                4. فروش انشعاب
            </p>
            <p>
                5. خدمات پس از فروش
            </p>
            <p>
                6. پیگیری درخواست ها
            </p>
            <p>
                7. راهنما
            </p>
            <p>
                8. آموزش
            </p>
            <p>
                9. انتقادها و پیشنهادها
            </p>
            <p>
                می باشد که با انتخاب هر کدام وارد صفحه مربوط به آن می شوید.
            </p>

            <img src="assets/imgs/android_help/image008.jpg">
            <p>
                ضمنا در هر قسمت از برنامه که باشید، می توانید با کشیدن انگشت از سمت راست تا وسط صفحه به لیست
                فوری (Drawer) دسترسی داشته باشید. که شامل عناوین ذیل است:
            </p>
            <p>
                1. خانه
            </p>
            <p>
                2. اتصال به پرتال
            </p>
            <p>
                3. اطلاعات انشعاب
            </p>
            <p>
                4. دستگاه های فعال
            </p>
            <p>
                5. به روز رسانی
            </p>
            <p>
                6. ثبت/تغییر حساب کاربری
            </p>
            <p>
                7. بازیابی کد رهگیری
            </p>
            <p>
                8. ارتباط با آبفا
            </p>
            <p>
                9. خروج از برنامه
            </p>
            <p>

            </p>
            <img src="assets/imgs/android_help/image010.jpg">
            <p>
                ضمنا در پایین لیست فوری می توانید حالت اپلیکیشن را از / به حالت تیره تغییر دهید.
            </p>
            <img src="assets/imgs/android_help/image012.jpg">
            <p>
                توصیه می شود جهت سهولت کار و دسترسی به همه امکانات با مراجعه به قسمت "ثبت حساب کاربری" از طریق
                لیست فوری، مشخصات خود را وارد کنید.

                ضمنا شما در هر زمانی می توانید اشتراک خود را تغییر دهید، اشتراک دیگر را اضافه کنید یا از آن خارج
                شوید.

                پس از ثبت اشتراک پیامک حاوی تاییدیه از طرف آبفای استان دریافت خواهیدکرد.
            </p>

            <img src="assets/imgs/android_help/image014.jpg">

            <img src="assets/imgs/android_help/image015.jpg">

            <img src="assets/imgs/android_help/image016.jpg">

            <img src="assets/imgs/android_help/image018.jpg">
            <p>
                با مراجعه به بخش "آخرین قبض" می توانید اطلاعات مربوط به آخرین قبض خود، اعم از شناسه قبض، شناسه
                پرداخت، مهلت و مبلغ قابل پرداخت، شماره فعلی و پیشین و .... را مشاهده کنید.
            </p>
            <p>
                این امکان برای شما فراهم شده است که در صورت نیاز، آخرین قبض را ذخیره یا اشتراک گذاری
                کنید.
            </p>
            <img src="assets/imgs/android_help/image020.jpg">
            <p>
                همچنین می توانید با مراجعه به بخش " صورتحساب" ، لیست آخرین قبوض خود و وضعیت آن ها را مشاهده
                نمایید.
            </p>
            <img src="assets/imgs/android_help/image022.jpg">
            <p>
                در این قسمت با تپ بر روی "صورت حساب آب بها" می توانید نمودار مصرف اخیر خود را ملاحظه
                نمایید.
            </p>
            <img src="assets/imgs/android_help/image024.png">

            <img src="assets/imgs/android_help/image026.jpg">
            <p>
                ضمنا با تپ کردن روی هر سطر می توانید جزئیات مربوط به آن سطر را مشاهده نمایید.
            </p>
            <img src="assets/imgs/android_help/image028.jpg">
            <img src="assets/imgs/android_help/image030.jpg">
            <img src="assets/imgs/android_help/image032.jpg">
            <p>
                در بخش اعلام "اعلام کارکرد کنتور" ، شما می توانید شماره فعلی کنتور خود را وارد کنید و پس از
                بررسی شماره وارد شده در صورتی که خارج از بازه میانگین طولانی مدت نباشد، اطلاعات قبض با شماره
                وارد شده را مشاهده خواهید کرد.
            </p>
            <img src="assets/imgs/android_help/image034.jpg">
            <img src="assets/imgs/android_help/image036.jpg">
            <img src="assets/imgs/android_help/image038.jpg">
            <img src="assets/imgs/android_help/image040.jpg">
            <p>
                در قسمت "فروش انشعاب"، شما می توانید فرم درخواست اولیه خرید انشعاب جدید (آب یا آب و فاضلاب) را
                پرکنید و کد پیگیری دریافت کنید.
            </p>
            <img src="assets/imgs/android_help/image042.jpg">
            <p>
                توجه شود ارزیابی صحت مقدار ورودی ملی، تلفن ثابت و کد پستی به صورت درون برنامه ای و شناسه همسایه
                به صورت آنلاین انجام و نتیجه اعلام می شود.
            </p>
            <img src="assets/imgs/android_help/image044.jpg">
            <p>
                در قسمت "خدمات پس از فروش" ، کاربر می تواند بخشی از خدمات ارائه شده توسط شرکت را مشاهده و خدمت
                یا خدمات مورد نیاز خود را انتخاب کند تا در اسرع وقت کارشناسان درخواست وی را بررسی
                نمایند.
            </p>
            <img src="assets/imgs/android_help/image046.jpg">
            <p>
                در قسمت "پیگیری درخواست ها" ، درصورتیکه قبلا درخواستی داشته اید با وارد کردن شماره پیگیری، می
                توانید از وضعیت درخواست، مراحل درخواست و از طریق آیکون پیامک می توانید فهرست پیامک های ارسالی در
                مرحله تعیین روز ارزیابی را مشاهده نمایید.
            </p>
            <img src="assets/imgs/android_help/image048.jpg">
            <p>
                ضمنا صحت شماره پیگیری وارده به صورت آنلاین بررسی و در صورت نادرست بودن اعلام می گردد.
            </p>
            <img src="assets/imgs/android_help/image049.jpg">
            <img src="assets/imgs/android_help/image051.jpg">
            <p>
                کارشناسان سازمان بخشی تحت عنوان "آموزش" را تعبیه کرده اند؛ در این قسمت توصیه های کاربردی و مهمی
                جهت ایمنی و کاهش مصرف به مشترکین ارائه داده اند.
            </p>
            <img src="assets/imgs/android_help/image053.jpg">
            <img src="assets/imgs/android_help/image055.jpg">
            <p>
                در صورتیکه کاربران نسبت به همراه آبفا، پیشنهاد یا انتقادی دارند یا درصورت مشاهده هرگونه خطا می
                توانند کارشناسان سازمان را از طریق بخش "انتقادها و پیشنهادها" باخبر سازند.
            </p>
            <img src="assets/imgs/android_help/image057.jpg">
            <p>
                یا از طریق "ارتباط با پشتیبان"، راه های ارتباط با برنامه نویسان را مشاهده نمایند.
            </p>
            <hr>

            <div class="modal-footer footer_radius">
                <h3>ارتباط با ما</h3>
            </div>
        </div>

    </div>