@import "../../../assets/main.scss";
@import "../../../assets/variables.scss";
@import "../../../assets/@media.scss";

$__small_border_radius: 13px;

section {
  background-color: $clr;
  height: 100vh;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .test {
    .side_view {
      position: absolute;
      background-color: rgba($clr_border, 0.5);
      width: 70%;
      height: 85%;
      border-radius: 30% 0 0 30%;

      top: 50%;
      bottom: 50%;
      right: 0;
      margin: auto;

    }
  }

  main {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    align-items: center;

    background-color: $white;
    width: 80%;
    min-height: 13rem;

    border-top: .5rem solid $bright_torouse;
    border-bottom: .5rem solid $bright_torouse;
    border-radius: $__small_border_radius;

    .sign {
      background-color: $bright_torouse;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);

      .fa-check {
        place-items: center;
        height: 100%;
        width: 100%;
        display: grid;
        font-size: 3rem;
        color: $white;
      }

    }

    .message {
      width: 65%;

      .__pay_info {
        margin: 2rem 0;

        .___desc {
          display: flex;
          justify-content: space-between;
          padding: .3rem;

          .____des_size {
            font-size: 1.2rem;
          }

          .____size {
            font-size: 1.2rem;
            color: #A9A9A9;
          }
        }
      }

      h1 {
        text-align: center;
        margin-top: -$font_large_size;
        color: $bright_green;
      }

      .back_to_insert_id {
        display: contents;

        button {
          @extend %button_first;
          background-color: transparent;
          border: 1px solid;
          color: $medium_slate_blue;
          font-size: $small_font_size;
          min-width: 10rem;
          width: 100%;
        }

        ._special {
          border: none;
          color: $darker_green;
          background: $bright_torouse;

        }

      }
    }
  }
}

@include media_wrapper(450px, 'section main .message .back_to_insert_id', display, flex);
