$size: 3rem;
$font-size: 1rem;

.content {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: blutos;
}
// @font-face {"b lotus", "../../fonts/B-Lotus/B\ Lotus\ Bold_0.ttf", 700 }
// @font-face {"b nazanin", "../../fonts/B_NAZANIN/B-NAZANIN.TTF" }

// @font-face{
//   font-family: "$blotus-ttf";
// src: url("../../fonts/B-Lotus/B\ Lotus\ Bold_0.ttf");
// src: local("../../fonts/B-Lotus/B\ Lotus\ Bold_0.ttf");
// }

// @font-face{
//   font-family: "b_nazanin";
//   src: url("../../fonts/B_NAZANIN/B-NAZANIN.TTF");
//   src: local("../../fonts/B_NAZANIN/B-NAZANIN.TTF");
// }
