<section>
    <div class="test">
        <div class="side_view"></div>
    </div>
    <main>
        <div class="sign">
            <i class="fa fa-check"></i>
        </div>
        <div class="message">
            <h1>قبض پرداخت شد</h1>
            <div class="__pay_info">
                <div class="___desc">
                    <div class="____des_size">{{IpgInfo[0]}}</div>
                    <div class="____size">شماره پیگیری</div>
                </div>
                <div class="___desc">
                    <div class="____des_size">{{IpgInfo[1]}}</div>
                    <div class="____size">مبلغ</div>
                </div>
            </div>

            <div class="back_to_insert_id">

                <button [routerLink]="['/pg']">بازگشت به صفحه نخست</button>
            </div>
        </div>
    </main>
</section>