<nav role="navigation">
	<div id="menuToggle">
		<input type="checkbox" (change)="changeBackImg()">

		<span></span>
		<span></span>
		<span></span>

		<ul id="menu">
			<!-- <li><qrcode [qrdata]="'Your QR code data string'" [size]="256" [level]="'M'"></qrcode></li> -->
			<a href="https://cafebazaar.ir/app/com.app.leon.moshtarak" target="_blank" rel="noopener noreferrer">
				<li>اپلیکیشن همراه آبفا</li>
			</a>
			<a href="https://www.abfaesfahan.ir/fa" target="_blank" rel="noopener noreferrer">
				<li>پرتال شرکت آبفا</li>
			</a>
			<a [routerLink]="['receipt']">
				<li>نمایش قبض کاغذی</li>
			</a>
		</ul>
	</div>
</nav>
<header>
	<section>
		<div class="header_icon">
			<img class="abfa" src="assets/imgs/bigger.png" alt="">
		</div>
	</section>
</header>