<!-- <main>
    <section *ngFor="let item of trackRequests">
        <div class="_status">
            {{item.status}}
        </div>
        <div class="_dateTime">
            <div class="__time">{{item.hm}}</div>
            <div class="__date">{{item.dateJalali}}</div>
        </div>
    </section>
</main> -->
<main>

    <div class="header_title justify_center">
        <h3 class="title">
            پیگیری درخواست ها
        </h3>
    </div>
    <hr>
    <section>
        <div class="_status">
            درخواست ثبت نام
        </div>
        <div class="_date-time">
            <div class="__time">95:35</div>
            <div class="__date">1395/12/99</div>
            <div class="_more-details">
                جزئیات بیشتر
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="_status">
            درخواست ثبت نام
        </div>
        <div class="_date-time">
            <div class="__time">95:35</div>
            <div class="__date">1395/12/99</div>
            <div class="_more-details">
                جزئیات بیشتر
            </div>
        </div>
    </section>
    <hr>
</main>