<div class="header_title justify_center">
    <h3 class="title">
        پیگیری درخواست ها
    </h3>
</div>
<main>
    <section *ngFor="let item of trackRequests">
        <div class="_status">
            {{item.status}}
            <i *ngIf="item.status === 'بارگذاری مدارک'">
                <img src="assets/trackrequest/registered.png" alt="حذف درخواست">
            </i>
            <i *ngIf="item.status === 'تعیین روز بازدید'">
                <img src="assets/trackrequest/guide.png" alt="تعیین روز بازدید">
            </i>
            <i *ngIf="item.status === 'حذف درخواست'">
                <img src="assets/trackrequest/delete.png" alt="مدارک بارگزاری شده">
            </i>
            <i *ngIf="item.status === '4'">
                <img src="assets/trackrequest/in.svg" alt="ثبت درخواست">
            </i>
        </div>
        <div class="_date-time">
            <div class="__time">{{item.hm}}</div>
            <div class="__date">{{item.dateJalali}}</div>
            <div class="__more-details">
                جزئیات بیشتر
            </div>
        </div>
    </section>
</main>