@import "../../assets/mixins.scss";
@import '../../assets/spinner_loader.scss';

$white: white;

.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: radial-gradient(#004eccc9, #062c68);
  min-height: 20rem;
  transform: scaleX(1) scaleY(1);
  transform-origin: center;

  .loader {
    position: absolute;
    left: auto;
    bottom: auto;
    height: 5rem;
    width: .8rem;
  }

  h2 {
    margin-top: 10rem;
    color: $white;

    .fa-spin,
    .fa-circle-notch {
      animation: around2 400ms infinite linear;
    }
  }

}
