<section>
    <article>
        <button  class="chart_button" [routerLink]="['bar']">مشاهده نمودار مصرف
            <i class="far fa-chart-bar"></i>
        </button>
    </article>
    <div class="main_border" *ngFor="let kardex of kardex">
        <div class="first_section">
            <div class="form" *ngIf="kardex.isBill === true">
                <!-- because class form above have condition so check other things is useless  -->
                <div class="form-item">
                    <input type="number" readonly name="kardex.id" class="form-input" aria-label="first name"
                        value="{{kardex.isBill === false ? '':kardex.usage}}">
                </div>
                <div class="div1">
                    <p *ngIf="kardex.isBill === true">مصرف</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
            <div class="form">
                <div class="form-item">
                    <input type="text" readonly name="kardex.id" class="form-input" aria-label="first name"
                        value="{{kardex.isBill === false ? kardex.creditorDate : kardex.oweDate }}">
                </div>
                <div class="div1">
                    <div class="__payed_time">{{kardex.isBill === false ? 'تاریخ پرداخت' : 'تاریخ صدور'}}</div>
                    <div class="div2">
                    </div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="form-item">
                <input type="number" readonly name="kardex.id" class="form-input"
                    [ngStyle]="{'color': kardex.isBill === false ? '#515151' : '#484fde' , 'border': kardex.isBill === false ? '2px solid #61e78652' : '1px solid lightgray'}"
                    aria-label="first name" value="{{kardex.amount}}">
            </div>
            <div class="div1" [ngStyle]="{'background': kardex.isBill === false ? '#61e78652' : '#484fde'}">
                <div class="sign" *ngIf="kardex.isBill === false">
                    <i class="fa fa-check"></i>
                </div>
                <div class="view_bill" *ngIf="kardex.isBill === true">
                    <i class="fa fa-arrow-alt-circle-left"></i>
                </div>
                <p [ngStyle]="{'color': kardex.isBill === false ? '#515151' : ''}">
                    {{kardex.isBill ? 'نمایش قبض': 'پرداخت شده'}}
                </p>

                <div class="div2">
                </div>
            </div>
        </div>
    </div>
</section>

<app-spinner-wrapper></app-spinner-wrapper>