<div *ngIf="showBack" class="hamburger" (click)="backClicked()">
    <span></span>
    <span></span>
    <span></span>
</div>


<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" (change)="changeBackImg()">

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a *ngIf="showMemberInfo" [routerLink]="['myInfo']">
                <li>اطلاعات انشعاب</li>
            </a>
            <a *ngIf="showMemberInfo" [routerLink]="['pg']">
                <li>شناسه قبض دیگری وارد کنید</li>
            </a>
            <a href="https://cafebazaar.ir/app/com.app.leon.moshtarak" target="_blank" rel="noopener noreferrer">
                <li>اپلیکیشن همراه آبفا</li>
            </a>
            <a href="https://www.abfaesfahan.ir/fa" target="_blank" rel="noopener noreferrer">
                <li>پرتال شرکت آبفا</li>
            </a>
        </ul>
    </div>
</nav>
<header>
    <section>
        <div class="header_icon">
            <img class="abfa" src="assets/imgs/bigger.png" alt="">
        </div>
    </section>
</header>