<div class="header_title justify_center">
    <h3 class="title">
        خدمات الکترونیکی
    </h3>
</div>

<section>
    <div class="background_color">
        <main>
            <div class="form" *ngFor="let elc of elcs">
                <div class="form-item">
                    <input type="text" readonly name="elc.name" class="form-input text_align_right"
                        value="{{elc.name}}">
                </div>
                <label class="dynamic_checkbox">
                    <input type="checkbox" [checked]="elc.checked" (change)="checkboxChanged($event , elc)">
                    <span class="checkmark"></span>
                </label>
            </div>
        </main>
        <article>
            <div class="form">
                <div class="form-item">
                    <input type="number" name="notificationMobile" class="form-input" aria-label="notificationMobile"
                        maxlength=11 minlength=11 [(ngModel)]="notificationMobile" required>
                </div>
                <div class="div1">
                    <p>شماره همراه</p>
                    <div class="div2">
                    </div>
                </div>
            </div>
        </article>

        <div class="text_align_center">
            <button (click)="classWrapper()">ارسال درخواست
                <i class="fas fa-upload"></i>
            </button>
        </div>
    </div>
</section>
<app-spinner-wrapper></app-spinner-wrapper>