@import "../../../assets/checkbox.scss";
@import "../../../assets/main.scss";
@import "../../../assets/input.scss";
@import "../../../assets/mixins.scss";
@import "../../../assets/@media.scss";
@import "../../../assets/second_input.scss";
@import "../../../assets/title_second.scss";

$background_border_color: #087CDB;
$customer_border: #1B6CEE;
$medium_slate_blue: rgba(125, 131, 255, .5);
$light_gray: lightgray;

$duration: 250ms;

section {
  background-color: $dark_b_color;
  min-height: 20rem;
  padding: 1rem .5rem;
  border-radius: 30px;
  margin: 1rem 0;

  .button_content {
    display: flex;
    justify-content: space-evenly;
  }

  .background_color {
    margin: 1.5rem 0;

    main {
      display: grid;
      gap: 0.6rem;

      .form {
        width: 100%;
        margin: 0;

        .form-item {
          width: 100%;
          margin: 0 -1rem 0 0;
          background-color: transparent;

          .form-input {
            padding: 0 1.2rem 0 0;
            font-size: 1.2rem;
            z-index: 0;
            text-align: right;
          }
        }

        .dynamic_checkbox {
          --size: 3rem;
          width: var(--size);
          height: var(--size);
          z-index: 1;

          .checkmark {
            border: 0.15rem solid $background_border_color;
            outline: none;
          }

          ::after {
            left: 15%;
            top: 20%;
            height: 2rem;
          }
        }
      }
    }

    button {
      @extend %button_first;
      margin: $font_large_size auto;
      min-width: 19rem;
      width: auto;
    }

  }
}

._desc {
  color: $c_light_gray;
  font-size: 1.2rem;
}

[hidden] {
  display: none !important;
}

@include fourColumns('.background_color main');
@include media_wrapper(650px, '.form', width, 25rem);
