@import "../../../assets/checkbox.scss";
@import "../../../assets/main.scss";
@import "../../../assets/input.scss";
@import "../../../assets/mixins.scss";

$background_border_color: #087CDB;
$background_color: #062C68;
$customer_border: #1B6CEE;
$medium_slate_blue: rgba(125, 131, 255, .5);
$white: #fff;
$light_gray: lightgray;

$checkbox-height: 3rem;
$duration: 250ms;

section {
  background-color: $background_color;
  min-height: 20rem;
  padding: 1rem .5rem;
  border-radius: 30px;

  .title_content {
    text-align: center;

    h1 {
      color: $light_gray;
      font-size: 2rem;
      margin: .5em;
    }
  }

  .button_content {
    display: flex;
    justify-content: space-evenly;
  }

  .background_color {
    main {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0.6rem;

      .form {
        width: 100%;
        margin: 0;

        .form-item {
          width: 100%;
          margin: 0 -1rem 0 0;
          background-color: transparent;

          .form-input {
            padding: 0 1.2rem 0 0;
            z-index: 0;
          }
        }

        .dynamic_checkbox {
          --size: 3rem;
          width: var(--size);
          height: var(--size);
          z-index: 1;

          .checkmark {
            border: 0.15rem solid $background_border_color;
            outline: none;
          }

          ::after {
            left: 15%;
            top: 20%;
            height: 2rem;
          }
        }
      }
    }

    button {
      @extend %button_first;
      margin: $font_large_size 0;
      min-width: 18rem;
    }

  }
}

[hidden] {
  display: none !important;
}

@media (min-width: 550px) {

  main,
  .button_content,
  .text_align_center {
    width: 50%;
    margin: auto;
  }
}




/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $light_gray;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkbox {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkbox {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkbox:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkbox:after {
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  background: $white;
  border-radius: 50%;
}
