@media (max-width: 549px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 550px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 780px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1000px) {
  section {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1200px) {
  section {
    grid-template-columns: repeat(6, 1fr);
  }
}
