@font-face {
  font-family: blutos;
  font-style: normal;
  src: 'assets/fonts/BLotus.eot';
  src: 'assets/fonts/BLotus.eot' format('embedded-opentype'),
  url('assets/fonts/BLotus.woff') format(woff)
  
}
// font-display: swap;