@import './variables.scss';
@import './mixins.scss';


.form {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.2);
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  width: 95%;
  margin: 0.3rem auto;
  border-radius: 3em;

  .form-item {
    @include justify-center;
    flex-direction: column;
    width: 52%;
    // height: 3.5rem;
    height: auto;
    flex-grow: 1;
    background: lightgray;
  }

  .form-input,
  .form-button {
    font-family: inherit;
    border-radius: inherit;
    font-weight: 600;
  }

  .form-input {
    padding: 0 1rem;
    font-family: inherit;
    outline: none;
    text-align: right;
    font-size: 1.44rem;
    height: 10rem;
    border-radius: $__border_radius;
    z-index: 1;
    width: 100%;

  }

  .form-input::-webkit-outer-spin-button,
  .form-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    /* <-- Apparently some margin are still there even though it's hidden */
    margin: 0;
  }

  .form-input[type=number] {
    /* Firefox */
    -moz-appearance: textfield;
  }

  .form-button {
    background: $clr;
    font-size: $small_font_size;
    // width: calc(#{$size} - 10px);
    // height: calc(#{$size} - 10px);
    margin-left: auto;
    color: $white;
    border: 0;
    min-width: 7rem;
    padding: 0;
  }
}

.div1 {
  position: relative;
  height: 100%;
  border-radius: 0 $__border_radius $__border_radius 0;
  padding: 10px;
  background: $clr_border;
  width: 48%;

  p {
    flex-direction: row;
    position: absolute;
    color: $white;
    line-height: 2;
    width: 86%;
    margin: auto;
    -webkit-transform: translate(2px, -5px);
    transform: translate(2px, -5px);
    font-size: 1.1rem;
    font-weight: 900;
  }
}

.div2 {
  padding: 19px;
  height: 8px;
  width: 8px;
  border-radius: 0 $__border_radius_bigger;
  background: lightgray;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 21% -55%;
  transform-origin: 21% -55%;
}
