@mixin text_align($text_align) {
  text-align: $text_align;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space_evenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin m_font_size {
  font-size: 1.2rem !important;
}

.m_font_size {
  @include m_font_size();
}

.justify_center {
  @include justify-center();
}

.space_evenly {
  @include space_evenly();
}

.text_align_right {
  @include text_align(right);
}

.text_align_center {
  @include text_align(center);
}
