.counts_number {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.15rem solid $medium_slate_blue;
  border-radius: 50%;
  background: $white;
  right: 1.2rem;
  top: 2rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $medium_slate_blue;
}
