@import "../../../assets/main.scss";
@import "../../../assets/input.scss";
@import "../../../assets/checkbox.scss";
@import "./counter.scss";
// @import "../pardakht/view-bill/spinner_loader";

$background_border_color: #087CDB;
$background_color: #062C68;
$customer_border: #1B6CEE;
$gray_border: #707070;
$payed_installments:#2DC227;
$payed_installments_border:#24963A;
$payed_color: #F65050;

.check_moreinfo {
  @include justify-center;

  button {
    @extend %button_first;
    color: $medium_slate_blue;
    border: 1px solid $medium_slate_blue;
    background: $white;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-family: inherit;
  }
}

@mixin background {
  border-radius: $__border_radius;

  i {
    color: $orange_color;
    width: $font_size_title;
  }
}

section {
  background-color: $background_color;
  padding: 2rem 0;

  .main {
    display: flex;
    flex-direction: column;
    border-radius: $__border_radius;
    padding: 0.2rem;

    .background {
      @include background;
    }

    .first_background {
      width: 100%;
      display: flex;

      .general_info {
        width: 100% !important;
        margin-bottom: 1rem;
      }

      .outer_container {
        width: 80%;
        border: 2px solid $background_border_color;
        border-radius: 30px;
        background: $white;


        .form-input {
          border: 1px solid $gray_border;
          background: inherit;
          min-width: 8.2rem;
          direction: rtl;
        }

        .form-item,
        .div2 {
          background-color: $white;
        }

        .unpayed_button {
          background-color: $payed_color;
        }

        .payed_button {
          background-color: #24963A;
        }

      }

      .customers {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        margin: 0.9rem 0;
      }
    }
  }

  .no_installment {
    text-align: center;
    color: $customer_border;
    font-size: 2rem;
  }
}

.main_content {
  min-height: 20rem;
}

footer {
  position: fixed;
  width: 100%;
  height: 4rem;
  bottom: 0;
  margin-top: auto;
  background: $payed_installments;
  text-align: center;
  z-index: 1;

  align-items: center;
  justify-content: space-evenly;
  display: flex;

  .pay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  }

  .pay,
  .text {
    color: $white;
    font-weight: 600;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 414px) {
  .main {
    padding: 0;
    margin: 0;

    .form {
      width: 98%;

      .div1 {
        width: 48%;

        p {
          width: 90%;
        }
      }

      .form-input {
        padding: 0 0.5rem;
        font-size: 1.4rem;
      }
    }
  }
}
