<div class="header_title justify_center">
    <h3 class="title">
        نمایش اقساط
    </h3>
</div>

<section class="main_content" *ngIf="_response; else spinner">

    <div class="_content" *ngIf="respnseIsNull; else noInstallment">

        <main class="main" *ngFor="let i of testObject; let indexN = index " data-aos="fade-up">

            <div class="background first_background" *ngIf="!i.isPayed">
                <div class="counts_number">
                    {{indexN+1}}
                </div>

                <div class="outer_container">
                    <div class="form">
                        <div class="form-item">
                            <input type="text" readonly name="viewBill.value" class="form-input"
                                [(ngModel)]="i.paymentId" disabled>
                        </div>
                        <div class="div1">
                            <p>شناسه پرداخت</p>
                            <div class="div2">
                            </div>
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-item">
                            <input type="text" readonly name="viewBill.value" class="form-input"
                                value="{{i.amount| perCurrencySplitter}}" disabled>
                        </div>
                        <div class="div1">
                            <p>مبلغ قابل پرداخت</p>
                            <div class="div2">
                            </div>
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-item">
                            <input type="text" readonly name="viewBill.value" class="form-input"
                                [(ngModel)]="i.deadlineDate" disabled>
                        </div>
                        <div class="div1 unpayed_button">
                            <p>مهلت پرداخت</p>
                            <div class="div2">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="customers justify_center">
                    <label class="dynamic_checkbox">
                        <input type="checkbox" (change)="calcInstallmentAmount(i.amount , $event)">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

        </main>

        <section class="check_moreinfo justify_center">
            <button (click)="showMoreButtonClicked()">
                {{_showMoreButton? 'فقط اقساط پرداخت نشده': 'مشاهده اقساط پرداخت شده'}}
                <i class="{{_showMoreButton? 'fa fa-chevron-up': 'fa fa-chevron-down'}}"></i>
            </button>
        </section>

        <div *ngIf="_showMoreButton">
            <main class="main" *ngFor="let i of testObject">
                <div class="background first_background" *ngIf="i.isPayed && _showMoreButton">
                    <div class="outer_container">
                        <div class="form">
                            <div class="form-item inputcontainer">
                                <input type="text" name="viewBill.value" class="form-input" value="{{i.billId}}"
                                    disabled>
                            </div>
                            <div class="div1">
                                <p>شناسه قبض</p>
                                <div class="div2">
                                </div>
                            </div>
                        </div>
                        <div class="form">
                            <div class="form-item">
                                <input type="text" name="viewBill.value" class="form-input" [(ngModel)]="i.deadLine"
                                    disabled>
                            </div>
                            <div class="div1 payed_button">
                                <p>پرداخت شده</p>
                                <div class="div2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #nothingpayed>
                        <h2>قسطی پرداخت نشده است !</h2>
                    </ng-template>

                    <div class="customers justify_center">
                        <label class="dynamic_checkbox">
                            <input type="checkbox" checked="checked" disabled>
                            <span class="checkmark payed_installments"></span>
                        </label>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>

<footer *ngIf="_sumOfInstallments != 0">
    <div class="pay justify_center">
        {{_sumOfInstallments | perCurrencySplitter}}
    </div>
    <div class="text">
        پرداخت مبلغ
    </div>
</footer>

<ng-template class="template" #noInstallment>
    <div class="no_installment">
        <h1>! شما قسطی ندارید</h1>
    </div>
</ng-template>
<ng-template #spinner>
    <section class="spinner justify_center">
        <i *ngIf="_spinnerBoolean" class="loader"></i>
        <h2>
            <i class="fas fa-circle-notch fa-spin"></i>
            لطفا کمی صبر کنید
        </h2>
    </section>
</ng-template>