@import "../../../../assets/main.scss";
@import "../../../../assets/input.scss";
@import "../../../../assets/mixins.scss";
@import "../../../../assets/spinner_loader.scss";
@import "../../../../assets/@media.scss";
@import "../../../../assets/title_second.scss";
@import "../../../../assets/null_response.scss";

$orange_background: rgba(255, 191, 128, 0.5);
$orange_background_border: rgba(125, 73, 8, 1);
$purple_backgruond_border: rgba(102, 0, 51, 1);
$purple_backgruond: rgba(255, 204, 230, 0.1);
$darkgreen_background_border: rgba(34, 162, 78, 1);
$darkgreen_background: rgba(0, 102, 34, 0.11);
$lightgreen: rgba(179, 179, 179, 0.3);

@mixin orgenize_color ($b_c, $border_c) {
  background: $b_c;
  border: 2px solid $border_c;

  .form-input {
    border: 1px solid $border_c;
  }

  .div1 {
    background: $border_c;
  }
}

@mixin background {
  border-radius: $__border_radius;
  margin: $margin_top_sections;
  padding: 1rem 0;

  i {
    color: $orange_color;
    width: $font_size_title;
  }
}

h3 {
  color: $gray;
}

section {

  .main {
    display: grid;
    margin: 0 0 3rem 0;
    padding: 0 0.1rem;
    border-radius: $__border_radius;
    background: rgba(179, 179, 179, 0.3);

    ._detail_content {
      display: inherit;
      grid-column: 1 / -1;
      gap: .5rem;
    }

    .background {
      @include background;
    }

    // water span color
    .fa-water,
    .fa-tint {
      --background_color_border_radius: #0198f1;
      color: var(--background_color_border_radius) !important;
    }

    .first_background {
      border: 2px solid $clr;

      .form-input {
        border: 1px solid $clr;
      }

      @media (min-width: 550px) {
        min-width: 28rem;
      }
    }

    .orange_background {
      @include orgenize_color($orange_background, $orange_background_border)
    }

    .purple_background {
      @include orgenize_color($purple_backgruond, $purple_backgruond_border);
    }

    .orangegray_background {
      @include orgenize_color($lightgreen, $orange_color);
    }

    .darkgreen_background {
      @include orgenize_color($darkgreen_background, $darkgreen_background_border);
    }

  }
}

.check_moreinfo {
  @include justify-center;
  align-items: flex-end;

  button {
    @extend %button_first;
    color: $medium_slate_blue;
    border: 2px solid $medium_slate_blue;
    background: $white;
    justify-content: space-around;
    flex-direction: row-reverse;
    font-family: inherit;
  }

}

.first_background,
.check_moreinfo {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  max-width: 30rem;
}

.show {
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
}

.pay_section {
  min-height: 10rem;
  margin: $margin_top_sections;

  .banks {
    display: flex;

    .bank_icons {
      text-align: center;
      width: 100%;
      border-radius: 4rem;
      margin: 0.3rem;
      padding: 0.77rem;
      cursor: pointer;

      img {
        width: 7rem;
        height: 6rem;
        border-radius: $__border_radius_big;
        background: $white;
        padding: 0.2rem;
      }
    }

    @media (min-width: 550px) {
      width: 50%;
      margin: auto;
    }
  }

  .pay_button_section {
    & button {
      @extend %button_first;
      width: 100%;
      padding: 0;
    }

    @include media_wrapper (550px, 'button', width, 35%);

    .pay_button {
      font-family: inherit;

      a.disabled {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: $disable_pay;
        font-size: 1.38rem;
        font-weight: bolder;
      }

      a.enabled {
        font-size: $font_large_size;
        text-decoration: none;
        color: $white;
      }
    }
  }
}

section.barcode {
  @include justify-center;
  margin: $margin_top_sections;
}

@media screen and (max-width: 414px) {
  .main {
    padding: 0.5rem;
    margin: 0 0.15rem;

    .form {
      width: 98%;

      .div1 {
        width: 43%;
      }

      .form-input {
        padding: 0 0.5rem;
        font-size: 1.4rem;
      }

      .pay_button {

        a.disabled,
        a.enabled {
          font-size: $small_font_size;
        }
      }

    }
  }

  .pay_section img {
    width: 100%;
    height: 100%;
  }
}

@include fourColumns('._detail_content');
@include threeColumns('._detail_content_kardex');

.kardex_added_class {
  grid-template-columns: repeat(3, 1fr) !important;
}

.footer {
  $c_blue: #116fff;
  margin: 0 0 2rem;
  columns: 2;
  column-rule: 3px solid $c_blue;

  button {
    @extend %button_first;
    white-space: nowrap;
    max-width: 20rem;
    margin: auto;
    min-width: auto;
    width: 100%;
    border: 2px solid;
    background: $white;
    color: $c_blue;

  }
}
