<section>
    <div class="title_content">
        <h1>اعلام کارکرد کنتور و قبض میاندوره</h1>
    </div>
    <div class="main_img">
        <img src="assets/imgs/ma/waterMeter.png" alt="">
    </div>
    <main class="main">
        <div class="form">
            <div class="form-item">
                <input type="text" class="form-input" [(ngModel)]="kontorNumber" name="metterAnnounce"
                    title="شماره کنتور خود را وارد کنید" maxlength="5" placeholder=" شماره کنتور" required>
            </div>
            <div class="div1">
                <p>شماره کنتور</p>
                <div class="div2">
                </div>
            </div>
        </div>
        <div class="form">
            <div class="form-item">
                <input type="text" class="form-input" [(ngModel)]="mobileNumber" name="mobileNumber"
                    title="شماره همراه خود را وارد کنید" maxlength="11" placeholder=" تلفن همراه" required>
            </div>
            <div class="div1">
                <p>شماره همراه</p>
                <div class="div2">
                </div>
            </div>
        </div>
        <button class="_button" (click)="nestingLevel()">
            صدور قبض
            <p class="fa fa-search"></p>
        </button>
    </main>
    <article *ngIf="_showMessage">
        <p>{{$textError}}</p>
    </article>
</section>
<app-spinner-wrapper *ngIf="notification"></app-spinner-wrapper>