@import '../../../assets/input';
@import '../../../assets/main.scss';
@import "../../../assets/mixins.scss";

$dark_torouse: #2DC227;
$dark_green : #51a351;
$light_gray: lightgray;
$transparent_for_img: #d7d7d7;
$dark_background: #091c3b;
$border_color: #ff1408;
$background_color: #062C68;

$m_size: 0.5rem;
$b_size: 2rem;

$opacity_background: rgba($color: #2B4C7F, $alpha: 1);

section {
  display: grid;
  grid-template-areas: 'header''main''footer';
  grid-template-rows: 5rem 1fr auto;

  background: $background_color;
  min-height: 20rem;
  text-align: center;
  align-items: center;
  justify-content: center;

  .title_content {
    grid-area: header;
    color: lightgray;
    font-weight: 600;
    font-size: 1.1rem;
  }

  .main,
  .main_img {
    grid-area: main;
    margin: auto;
  }

  .main {
    --background: #f3f3f3;

    .div2 {
      background: var(--background);
    }

    ._button {
      @extend %button_first;
      background: $dark_torouse;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 1.5rem auto;

      p {
        margin: 0;
        background: $dark_green;
        border-radius: 50%;
        padding: .3rem;
      }
    }
  }

  article {
    grid-area: footer;
    --dark_background: #091c3b;
    --border_color: #ff1408;

    background: var(--dark_background);
    box-shadow: 2px 2px 7px 0 var(--border_color);
    margin: 2rem auto;
    border-radius: 30px;
    border: 3px solid var(--border_color);
    min-height: 14rem;
    width: 97%;

    p {
      color: #fff;
      font-size: 1.44rem;
      padding: .5rem;
      text-align: right;
    }

  }
}

// change default colors for input
.form {
  .form-item {
    background: #f3f3f3;
  }
}

@media (min-width: 550px) {
  .main_img img {
    width: 30rem;
  }

  article {
    min-height: 11rem;
  }
}
