@import '../../../assets/input';
@import '../../../assets/main.scss';
@import "../../../assets/mixins.scss";

$dark_torouse: #2DC227;

$m_size: 0.5rem;
$b_size: 2rem;

$background_color: #062C68;
$opacity_background: rgba($color: #2B4C7F, $alpha: 1);

section {
  @include justify-center;
  flex-direction: column;
  align-items: center;
  background-color: $background_color;

  border-radius: $__border_radius;
  padding: 4rem 0;
  min-height: 20rem;

  main.main {
    width: 97%;
    border-radius: $__border_radius;
    background: $opacity_background;
    text-align: center;

    .form {
      width: 95%;
      margin: .7rem auto;

      .form-item {
        background: inherit;
        width: 70%;

        .form-input {
          font-size: 1.2rem;
          padding: 0 $m_size;
          text-align: center;
        }
      }

      .div1 {
        width: 30%;
        cursor: pointer;

        p {
          left: 10%;
          font-size: 1.2rem;
        }

        .div2 {
          background-color: $opacity_background;
        }
      }
    }

    ._button {
      @extend %button_first;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background: $dark_torouse;
      min-width: auto;

      margin: 1.5rem auto;

      p {
        margin: 0;
        background: #51a351;
        border-radius: 50%;
        padding: .3rem;
      }
    }
  }

  article {
    --dark_background: #091c3b;
    --border_color: #ff1408;

    width: 97%;
    background: var(--dark_background);
    box-shadow: 2px 2px 7px 0px var(--border_color);
    margin: $b_size 0;
    border-radius: $__border_radius;
    border: 3px solid var(--border_color);
    min-height: 14rem;

    p {
      color: $white;
      font-size: 1.44rem;
      padding: $m_size;
      text-align: right;
    }
  }
}

@media screen and (min-width: 550px) {
  section {
    .form {
      width: 90%;
    }

    article {
      min-height: 11rem;
    }
  }
}
