@import '../../../assets/input';
@import '../../../assets/main.scss';
@import "../../../assets/mixins.scss";

$dark_torouse: #2DC227;
$light_gray: lightgray;
$transparent_for_img: #d7d7d7;

$m_size: 0.5rem;
$b_size: 2rem;

$background_color: #062C68;
$opacity_background: rgba($color: #2B4C7F, $alpha: 1);

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background_color;

  border-radius: $__border_radius;
  min-height: 30rem;

  .title_content {
    text-align: center;
    text-align: center;

    h1 {
      color: $light_gray;
      font-size: 2rem;
      margin: .5em;
    }
  }

  main.main {
    position: absolute;
    width: 97%;
    border-radius: $__border_radius;
    text-align: center;
    top: 60%;
    z-index: 1;

    .form {
      width: 95%;
      margin: .7rem auto;

      .form-item {
        background: $transparent_for_img;
        width: 70%;

        .form-input {
          font-size: 1.2rem;
          padding: 0 $m_size;
          text-align: center;
        }
      }

      .div1 {
        width: 30%;
        cursor: pointer;

        p {
          left: 10%;
          font-size: 1.2rem;
        }

        .div2 {
          background-color: $transparent_for_img;
        }
      }
    }

    ._button {
      @extend %button_first;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background: $dark_torouse;
      min-width: auto;

      margin: 1.5rem auto;

      p {
        margin: 0;
        background: #51a351;
        border-radius: 50%;
        padding: .3rem;
      }
    }
  }

  .main_img {
    width: 100%;
    height: 100%;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  article {
    --dark_background: #091c3b;
    --border_color: #ff1408;

    width: 97%;
    background: var(--dark_background);
    box-shadow: 2px 2px 7px 0px var(--border_color);
    margin: $b_size 0;
    border-radius: $__border_radius;
    border: 3px solid var(--border_color);
    min-height: 14rem;

    p {
      color: $white;
      font-size: 1.44rem;
      padding: $m_size;
      text-align: right;
    }
  }
}

@media screen and (min-width: 550px) {
  section {

    main.main {
      width: 50%;
      top: 65%;
    }

    .form {
      width: 90%;
    }

    .main_img {
      width: 50%;

      img {
        width: 60%;
      }
    }

    article {
      min-height: 11rem;
    }

    .title_content {
      transform: translateY(0);
    }
  }
}
